.info1, .info2, .info3, .img{ border: 1px solid black;}

@media (min-width : 300px) and (max-width : 500px) {
    // Styles liés à la typographie
    @font-face {
        font-family: karla;
        src: url(fonts/karla/Karla-VariableFont_wght.ttf);
    }
    .nav, .section1, .section2, .section3 {
        font-family: karla;
    }
    html{
        position: relative;
        width: 428px;
    }

    // Styles liés à l'header 
    nav {
        display: flex;
        background-color: #E3EEF8;
        align-items: baseline;
        p {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -1px;margin-left: 9px;
            margin-top: -15px;
        }
        .logo{
            display: flex;
            flex-direction: column;
            margin-left: 35px;
            margin-top: 11px;
        }
    }
    #menu {
        display: flex;
        flex-direction: column;
        margin-top: -25px;
        margin-left: 320px;
        gap: 2px;
        &:hover {
            cursor: pointer;
        }
    }

    // Styles liés à la section 1
    $couleur_p : #666666;

    .section1 {
        background-color: #E3EEF8;
    }

    .body_section1 {
        display: flex;
        flex-direction: column;
        max-width: 361px;
        margin-right: 38px;
        margin-left: 29px;
        h1{
            text-align: center;
            font-size: 40px;
            line-height: 45px;
            color: #1f1f11;
            letter-spacing: -4px;
            font-weight: bold;
        }
        .title1 {
            text-align: center;
            color: $couleur_p;
            font-size: 10px;
            margin-top: 50px;
            margin-bottom: -20px;
            letter-spacing: 2.8px;
        }
        p{
            text-align: center;
            font-size: 15px;
            line-height: 25px;
            margin-top: -16px;
            color : $couleur_p;
        }
        p:last-child{
            font-size: 10px;
            margin-top: 16px;
            color: $couleur_p;
        }
    }
    .info {
        margin-right: 58px;
        margin-left: 58px;
    }

    .email_section1 {
        display: flex;
        margin-left: 35px;
        gap: 7px;
        align-items: baseline;
        button {
            background-color: #FC593B;
            border-radius: 5px;
            color: white;
            padding: 7px 28px 7px 28px;
            border: 0px;
            font-size: 12px;
        }
        button:hover{
            cursor:pointer;
        }
        input {
            border-radius: 5px;
            padding: 7px 7px 7px 7px;
            border: 0px;
            max-width: 133px;
        }
        p {
            font-size: 10px;
            color : $couleur_p;
            margin-top: 10px;
            margin-bottom: 64px;
        }
    }
    .info{
        margin-top: 64px; 
        img{
            width: 24px;
        }
    }
}

