@media (min-width: 360px) and (max-width: 730px) {
  @font-face {
    font-family: karla;
    src: url(fonts/karla/Karla-VariableFont_wght.ttf);
  }
  .nav, .section1, .section2, .section3 {
    font-family: karla;
  }
  html {
    background-color: #E3EEF8;
  }
  body {
    padding: 0;
    margin: 0;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #E3EEF8;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 35px;
  }
  nav p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -1px;
    padding-left: 10px;
    top: 30px;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 20px;
    height: 15px;
    top: 30px;
  }
  nav #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 300px;
    width: 15px;
    height: 10px;
  }
  nav #menu:hover {
    cursor: pointer;
  }
  .section1 {
    background-color: #E3EEF8;
    padding-bottom: 141px;
  }
  .body_section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 29px;
    margin-left: 38px;
  }
  .body_section1 h1 {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    color: #1f1f11;
    letter-spacing: -4px;
    font-weight: bold;
  }
  .body_section1 .title1 {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    margin-bottom: -30px;
    letter-spacing: 2.8px;
    font-size: 10px;
  }
  .body_section1 p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-top: -16px;
    color: #666666;
  }
  .body_section1 p:last-child {
    font-size: 7px;
    margin-top: 10px;
    color: #666666;
  }
  .info {
    margin-left: 158px;
  }
  .email_section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 7px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .email_section1 button {
    background-color: #FC593B;
    border-radius: 5px;
    color: white;
    padding: 5px 5px 5px 5px;
    border: 0px;
    font-size: 10px;
  }
  .email_section1 button:hover {
    cursor: pointer;
  }
  .email_section1 input {
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 0px;
    max-width: 100px;
    font-size: 10px;
  }
  .email_section1 p {
    font-size: 10px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 64px;
  }
  .info h2 {
    font-size: 30px;
    line-height: 32px;
    margin-left: 50px;
  }
  .info p {
    font-size: 18px;
    margin-left: 50px;
    color: #666666;
  }
  .info img {
    width: 24px;
    height: 26px;
    position: relative;
    top: 65px;
    right: 45px;
  }
  .section2 {
    background-color: #258AFF;
    border: 0px;
  }
  .section2 img {
    position: relative;
    bottom: 90px;
    left: 220px;
    -webkit-transform: rotate(-9deg);
            transform: rotate(-9deg);
    width: 163px;
    height: 325px;
  }
  .section2 div {
    position: relative;
    bottom: 40px;
  }
  .section2 h2 {
    font-size: 20px;
    color: white;
    margin-left: 62px;
    margin-right: 468px;
    line-height: 18px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
  }
  .section2 h3 {
    font-size: 40px;
    color: white;
    margin-left: 59px;
    margin-right: 151px;
  }
  .section2 p {
    font-size: 20px;
    color: #E4E4E4;
    line-height: 32px;
    margin-left: 59px;
    padding-right: 50px;
    margin-right: 151px;
  }
  .section2 button {
    background-color: white;
    color: #258AFF;
    border-radius: 5px;
    padding: 5px 50px 5px 50px;
    position: relative;
    border: 0px;
    left: 60px;
  }
  .section2 button:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */